{% extends 'tienda/base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Sobre mí</h2>
                    </div>
                    <div class="card-body text-center">
                        <p>Mi nombre es Santiago Piturro, soy desarrollador RPA y estudiante de ingeniería en sistemas. Soy fanático de Pokémon y decidí hacer este mini proyecto final basado en eso.</p>
                        <p>Gracias por visitar mi tienda y no dudes en contactarme si tienes alguna duda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}